body {
  background: grey;
  color: white;
  text-align: center;
  font-family: Helvetica;
}

header {
  font: 40px Luminary;
}

body h2 {
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 40px;
  background-color: black;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color:white;
}

p {
  font-size: 30px;
}
