body {
  background: #2B2A4C;
  color: #EEE2DE;
  text-align: center;
  font-family: Helvetica;
}
main{
  display: flex ;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#EEE2DE;
  font-size: 60px;

}

a{
  text-decoration: none;
  color:#EEE2DE
}

a:visited{
  color:#EEE2DE;
}

.text_nav {
  color:#2B2A4C;
}

.text_nav:visited{
  color:#2B2A4C;
}


header{
  font: 40px ;
  font-family: 'Luminary' ;
}

body h2 {
  font-size: 40px;
  text-align: left;
}

body h3 {
  font-size: 30px;
  text-align:center;
  text-decoration: underline;

}
fieldset h3{
  text-align: center;
}

fieldset{
  margin:10px;
  background-color: #2B2A4C;
  border-width: 8px;
  display:flex;
  flex-direction: row;
  justify-content:center;
  text-align:left;
  width:1500px;
  border-color: #EEE2DE;
  border-style:dotted;
}
.seul{
  display:flex;
  flex-direction: column;
}
.sous_bloc{
  border-width: 4px;
  width:650px;
  display:flex;
  flex-direction:column;
  border-color:#2B2A4C;
  border-style:solid;
}

.sous_bloc:first-child{
  border-width: 4px;
  border-right:#6D9886;
  border-style:solid;
}

.attribut{
  display:flex;
  flex-direction: row;
}

.attribut li{
  list-style: none;
  margin-left: 8px;
}
nav {
  padding: 0;
  margin : 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 40px;
  color:#2B2A4C;
  border-width: 10px;
  border-color:black;
  border-style:double;
  background-color: #6D9886;
}

#img{
  position:fixed;
  bottom:40px;
  right:40px;
  width:50px;
  height:50px;
}

p {
  font-size: 30px;
  margin:0px;
}
ul{
  margin: 12px;
  justify-content: center;
  text-align: left;
}
.lien_debut{
  display:flex;
  text-decoration: underline;
  flex-direction:row;
  margin:0px;
  padding:0px;
  
}
fieldset .manche{
  display:flex;
  border-style: none;
  border-width:0px;
  flex-direction:row;
}

.neutre{
  border-style: none;
  border-width:0px;
  margin:0px
}
.lien_debut li {
  margin:20px;
  list-style:circle;
  font-size: 25px;
}

.first{
  list-style: none;
  margin:0px;
  font-size: 28px;
}
ul li {
  list-style:circle;
  font-size: 25px;
}

